name: Continuous Delivery

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  Publish:
    name: Publish
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
      - name: Install Dependencies
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
      - name: Publish
        run: npm publish --provenance --tag latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
